- name: restart wireguard
  systemd:
    name: wg-quick@wg0.service
    state: restarted
    daemon_reload: yes

- name: restart systemd-networkd
  service:
    name: systemd-networkd
    state: restarted
    daemon_reload: yes
