- name: Install systemd-networkd
  yum:
    name: systemd-networkd
    state: latest
  tags:
    - wireguard

- name: Enable systemd-networkd
  systemd:
    name: systemd-networkd
    masked: no
    enabled: yes
  tags:
    - wireguard

- name: Copy netdev config
  template:
    src: netdev.j2
    dest: /etc/systemd/network/{{ item.key }}.netdev
    owner: root
    group: systemd-network
    mode: '0640'
  notify: restart systemd-networkd
  loop: "{{ wireguard_interfaces | dict2items }}"
  tags:
    - wireguard
    - config

- name: Copy network config
  template:
    src: network.j2
    dest: /etc/systemd/network/{{ item.key }}.network
    owner: root
    group: systemd-network
    mode: '0644'
  notify: restart systemd-networkd
  loop: "{{ wireguard_interfaces | dict2items }}"
  tags:
    - wireguard
    - config
